<div *ngIf="!isMobile">
    <mat-toolbar color="primary" class="navigator">
    <div fxLayout="row" fxLayoutAlign="space-around center" class="navigator">
            <img src="assets/logo.png">
            <button class="myButton" (click)="navigateHomepage()"mat-button>Overview</button>
            <button *ngIf="isLoggedIn" class="myButton" (click)="navigateAddTool()" mat-button>Add Tool</button>
            <button *ngIf="isLoggedIn" class="myButton" (click)="navigateMyTools()" mat-button>My Tools</button>
            <button *ngIf="isLoggedIn" class="myButton" (click)="navigateRentedTools()" mat-button>Rented Tools</button>
            <button class="myButton" (click)="navigateKiosks()" mat-button>Kiosks</button>
            <button *ngIf="!isLoggedIn" class="myButton" mat-button (click)="openDialog()" >Login</button>
            <button *ngIf="!isLoggedIn" class="myButton" mat-button (click)="navigateRegister()">Register</button>
            <button *ngIf="isLoggedIn" class="myButton" mat-button (click)="navigateUserDetails()"> Profile</button>
            <button *ngIf="isAdmin" class="myButton" (click)="navigationPayments()" mat-button > Payments</button>
            <button *ngIf="isLoggedIn" class="myButton" mat-button (click)="demoLogout()" >Logout</button>
    </div>
    </mat-toolbar>
</div>

<div *ngIf="isMobile">
    <mat-toolbar color="primary" class="navigator">
     <div fxLayout="row" fxLayoutAlign="start center" >
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
        <img class="mobile-img" src="assets/logo.png">
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="navigateHomepage()">Overview</button>
        <button *ngIf="isLoggedIn" (click)="navigateAddTool()" mat-menu-item>Add Tool</button>
        <button *ngIf="isLoggedIn" (click)="navigateMyTools()" mat-menu-item >My Tools</button>
        <button *ngIf="isLoggedIn" (click)="navigateRentedTools()" mat-menu-item >Rented Tools</button>
        <button mat-menu-item (click)="navigateKiosks()" >Kiosks</button>
        <button *ngIf="!isLoggedIn" mat-menu-item (click)="openDialog()" >Login</button>
        <button *ngIf="!isLoggedIn" mat-menu-item >Register</button>
        <button *ngIf="isLoggedIn" mat-menu-item (click)="navigateUserDetails()" >My Profile</button>
        <button *ngIf="isAdmin" mat-menu-item (click)="navigationPayments()"> Payments</button>
        <button *ngIf="isLoggedIn" mat-menu-item (click)="demoLogout()" >Logout</button>
        </mat-menu>
     </div>
    </mat-toolbar> 
</div>
