<div fxLayout="column" fxLayoutAlign="space-around center" class="form-field">
    <h1 mat-dialog-title>Update Password</h1>
    <div mat-dialog-content>
    <p>Enter Your Current Password</p>
    <mat-form-field appearance="outline" class="input-size">
        <mat-label>Enter password</mat-label>
        <input #oldPasswordInputField matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="oldPassword" required >
            <mat-error *ngIf="wrongPassword">{{getErrorMessage()}}</mat-error>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <br>
    <p>Enter Your New Password</p>
    <mat-form-field appearance="outline" class="input-size">
        <mat-label>Enter new password</mat-label>
        <input #newPasswordInputField matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="newPassword" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>

    </div>
    <div mat-dialog-actions fxLayout="row">
    <button mat-button (click)="onCancelClick()">Cancel</button>
    <button mat-button  (click)="onSubmitClick()" cdkFocusInitial>Submit</button>
    </div>
</div>
